<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="sampleOdinPluginBuilder"
         name="Sample Odin Plugin Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="odineclipseplugin.builder.OdinPluginBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="sampleOdinPluginNature"
         name="Sample Odin Plugin Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="odineclipseplugin.builder.SampleOdinPluginNature">
         </run>
      </runtime>
      <builder
            id="odin-eclipse-plugin.sampleOdinPluginBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="odin-eclipse-plugin.sampleOdinPluginNature.category"
            name="Sample Odin Plugin Project Nature commands">
      </category>
      <command
            categoryId="odin-eclipse-plugin.sampleOdinPluginNature.category"
            defaultHandler="odineclipseplugin.builder.AddRemoveSampleOdinPluginNatureHandler"
            id="odin-eclipse-plugin.addRemoveSampleOdinPluginNature"
            name="Add/RemoveSample Odin Plugin Project Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               label="Disable Sample builder"
               commandId="odin-eclipse-plugin.addRemoveSampleOdinPluginNature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="odin-eclipse-plugin.sampleOdinPluginNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               label="Enable Sample builder"
               commandId="odin-eclipse-plugin.addRemoveSampleOdinPluginNature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="odin-eclipse-plugin.sampleOdinPluginNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            state="true"
            lightweight="true"
            id="odin-eclipse-plugin.decorator"
            label="Resource Decorator"
            icon="icons/sample_decorator.gif"
            location="TOP_RIGHT">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="odineclipseplugin.odin"
            name="odineclipseplugin.odin"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="odin">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="odineclipseplugin.odin"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="odineclipseplugin.OdinPresentationReconciler"
            contentType="odineclipseplugin.odin">
      </presentationReconciler>
   </extension>

   <extension
         point="org.eclipse.lsp4e.languageServer">
      <languageServer
            class="odineclipseplugin.lsp.OdinLanguageServerStreamProvider"
            id="odineclipseplugin.lsp.OdinLanguageServer"
            label="Odin Language Server (OLS)">
         <contentTypeMapping
               contentType="odineclipseplugin.odin">
         </contentTypeMapping>
      </languageServer>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.autoEditStrategies">
      <autoEditStrategy
            class="odineclipseplugin.OdinAutoEditStrategy"
            contentType="odineclipseplugin.odin">
      </autoEditStrategy>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.reconcilers">
      <reconciler
            class="odineclipseplugin.OdinReconciler"
            contentType="odineclipseplugin.odin">
      </reconciler>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="odineclipseplugin.ValidatorDocumentSetupParticipant"
            contentTypeId="odineclipseplugin.odin"
            extensions="odin">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="odineclipseplugin.importWizards.sampleCategory"
            name="Sample File Import">
      </category>
      <wizard
            id="odineclipseplugin.importWizards.ImportWizard"
            name="Import File"
            class="odineclipseplugin.importWizards.ImportWizard"
            category="odineclipseplugin.importWizards.sampleCategory"
            icon="icons/sample.png">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Odin"
            id="odin-eclipse-plugin">
      </category>
      <wizard
            id="odineclipseplugin.wizards.OdinNewProjectWizard"
            name="Odin Project"
            icon="icons/sample.png"
            class="odineclipseplugin.wizards.OdinNewProjectWizard"
            category="odin-eclipse-plugin"
            project="true">
         <description>Create a new Odin project with a main.odin file.</description>
      </wizard>
      <wizard
            id="odineclipseplugin.wizards.SampleNewWizard"
            name="Multi-page Editor file"
            icon="icons/sample.png"
            class="odineclipseplugin.wizards.SampleNewWizard"
            category="odin-eclipse-plugin">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="odineclipseplugin.preferences.OdinPreferencePage"
            name="Odin"
            class="odineclipseplugin.preferences.OdinPreferencePage">
      </page>
   </extension>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="odineclipseplugin.launch.OdinLaunchConfigurationType"
            name="Odin Run"
            delegate="odineclipseplugin.launch.OdinLaunchConfigurationType"
            modes="run"
            public="true">
      </launchConfigurationType>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            id="odineclipseplugin.launch.OdinLaunchConfigurationTabGroup"
            type="odineclipseplugin.launch.OdinLaunchConfigurationType"
            class="odineclipseplugin.launch.OdinLaunchConfigurationTabGroup">
      </launchConfigurationTabGroup>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <image
            configTypeID="odineclipseplugin.launch.OdinLaunchConfigurationType"
            icon="icons/sample.png">
      </image>
   </extension>

</plugin>
